body {
  box-sizing: border-box;
  /* max-width: 800px; */
  margin: 0;
  padding: 0;
  display: block;
}

li,
a {
  font-weight: 600;
  font-size: large;
  color: white;
  text-decoration: none;
  /* float: left; */
  display: block;
}
header {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: aliceblue;
  background-color: rgb(20, 22, 51);
  position: fixed;
  overflow: hidden;
  width: 100%;
}
/* .navBar{
    background-color: rgb(11, 11, 36);
} */
.navItems {
  list-style: none;
}
.navItems li {
  padding: 0px 20px;
  display: inline-block;
}
.navItems li a:hover {
  color: rgb(236, 105, 105);
}
.cover {
  float: right;
  padding-top: 50px;
}
.intro {
  font-weight: 700;
  padding: 250px 50px;
  margin: 0;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.about-me-picture {
  width: 20%;
  border-radius: 20px;

  /* padding-left: 40px; */
}
.aboutMe {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content {
  font-size: x-large;
}
.entry {
  background-color: rgb(238, 245, 244);
  /* z-index: 5; */
  /* margin: 0; */
}
.sub-title {
  background-color: rgb(109, 109, 216);
}
.col {
  float: left;
  padding: 0px 10px;
  width: 30%;
  height: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
} */
.row {
  margin: 0 -5px;
  display: flex;
}
.section-heading {
  text-align: center;
}

.portfolio-items {
  width: 20%;
}
/* .portfolio-items:hover{
    color: rgb(236, 19, 19);

} */
.portfolio-pieces {
  display: flex;
  justify-content: space-evenly;
}
.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown a:hover{
    background-color: rgb(236, 105, 105);
}
.dropdown-container:hover.dropdown{
display: block;
background-color: rgb(236, 105, 105);

}

/* .tooltip-container .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}

.tooltip-container:hover.tooltip{
    visibility: visible;
} */
